In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv(r'dataset_2.csv')
df.head()

,Attrition,Female,OverTime,a.Travel_Frequently,a.Travel_Rarely,b.HR,b.Sales,c.Married,c.Single,d.Human_Resources,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,1,1,0,1,0,1,0,1,0,...,3,1,0,8,0,1,6,4,0,5
1,0,0,0,1,0,0,0,1,0,0,...,4,4,1,10,3,3,10,7,1,7
2,1,0,1,0,1,0,0,0,1,0,...,3,2,0,7,3,3,0,0,0,0
3,0,1,1,1,0,0,0,1,0,0,...,3,3,0,8,3,3,8,7,3,0
4,0,0,0,0,1,0,0,1,0,0,...,3,4,1,6,3,3,2,2,2,2

In [3]:
y = df['Attrition']
X = df.drop(['Attrition'], axis = 1)
cols = X.columns

In [4]:
X = preprocessing.scale(X)
X = pd.DataFrame(X)
X.columns = cols

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_train.shape

(1176, 44)

# SMOTE
As the dataset is imbalanced, we apply SMOTE to oversample the data.

In [6]:
oversample = SMOTE()
X_train, y_train = oversample.fit_resample(X_train, y_train)
X_train.shape

(1976, 44)

# Logistic Regression

In [7]:
logreg = LogisticRegression(random_state = 0)
logreg.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [8]:
y_pred_lr = logreg.predict(X_test)
print('Confusion Matrix')
print(confusion_matrix(y_test, y_pred_lr))

Confusion Matrix
[[187  58]
 [ 13  36]]

In [9]:
print('Accuracy:', logreg.score(X_test, y_test))
print('Precision:', precision_score(y_test, y_pred_lr))
print('Recall:', recall_score(y_test, y_pred_lr))
print('F1 score:', f1_score(y_test, y_pred_lr))

Accuracy: 0.7585034013605442
Precision: 0.3829787234042553
Recall: 0.7346938775510204
F1 score: 0.5034965034965034

### Logit

In [10]:
logr_coef = pd.DataFrame({'feature': cols, 'logit': logreg.coef_[0]})
logr_coef.sort_values(by = ['logit'], ascending = False)

                     feature     logit
15          e.Lab_Technician  1.223980
19         e.Sales_Executive  1.176340
20               e.Sales_Rep  1.010745
14         e.Human_Resources  1.003749
2        a.Travel_Frequently  0.907170
18      e.Research_Scientist  0.879188
1                   OverTime  0.826934
3            a.Travel_Rarely  0.711154
7                   c.Single  0.702324
40            YearsAtCompany  0.650868
42   YearsSinceLastPromotion  0.581655
13          e.Healthcare_Rep  0.552976
32        NumCompaniesWorked  0.538361
23          DistanceFromHome  0.371527
6                  c.Married  0.341183
17            e.Mfg_Director  0.316001
16                 e.Manager  0.288094
34         PerformanceRating  0.280614
30             MonthlyIncome  0.155062
8          d.Human_Resources  0.147585
28                  JobLevel  0.135766
31               MonthlyRate  0.118837
12        d.Technical_Degree  0.096866
26                HourlyRate  0.063938
10               d.Marketing  0.036636
36          StockOptionLevel -0.073019
24                 Education -0.080574
22                 DailyRate -0.170096
35  RelationshipSatisfaction -0.214083
38     TrainingTimesLastYear -0.233073
0                     Female -0.247290
27            JobInvolvement -0.268408
39           WorkLifeBalance -0.289108
5                    b.Sales -0.300419
21                       Age -0.319172
9            d.Life_Sciences -0.371953
11                 d.Medical -0.396751
29           JobSatisfaction -0.409554
33         PercentSalaryHike -0.415041
37         TotalWorkingYears -0.506830
25   EnvironmentSatisfaction -0.521108
43      YearsWithCurrManager -0.540306
41        YearsInCurrentRole -0.562088
4                       b.HR -0.647444

# Random Forest Classifier

In [11]:
rfc = RandomForestClassifier(random_state = 0)
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [12]:
y_pred_rfc = rfc.predict(X_test)
print('Confusion Matrix')
print(confusion_matrix(y_test, y_pred_rfc))

Confusion Matrix
[[237   8]
 [ 34  15]]

In [13]:
print('Accuracy:', rfc.score(X_test, y_test))
print('Precision:', precision_score(y_test, y_pred_rfc))
print('Recall:', recall_score(y_test, y_pred_rfc))
print('F1 score:', f1_score(y_test, y_pred_rfc))

Accuracy: 0.8571428571428571
Precision: 0.6521739130434783
Recall: 0.30612244897959184
F1 score: 0.4166666666666667

### Feature Importance

In [14]:
rfc_fi = pd.DataFrame({'feature': cols, 'importance': rfc.feature_importances_})
rfc_fi.sort_values(by = ['importance'], ascending = False)

                     feature  importance
1                   OverTime    0.094771
36          StockOptionLevel    0.047303
43      YearsWithCurrManager    0.045905
28                  JobLevel    0.040346
25   EnvironmentSatisfaction    0.039993
21                       Age    0.039978
29           JobSatisfaction    0.039846
7                   c.Single    0.039630
37         TotalWorkingYears    0.037974
40            YearsAtCompany    0.037142
23          DistanceFromHome    0.034512
41        YearsInCurrentRole    0.034294
30             MonthlyIncome    0.033725
24                 Education    0.031924
32        NumCompaniesWorked    0.030562
22                 DailyRate    0.028573
26                HourlyRate    0.027063
39           WorkLifeBalance    0.025739
31               MonthlyRate    0.025457
33         PercentSalaryHike    0.024130
35  RelationshipSatisfaction    0.023999
38     TrainingTimesLastYear    0.023760
27            JobInvolvement    0.021626
42   YearsSinceLastPromotion    0.020517
6                  c.Married    0.020434
0                     Female    0.014914
2        a.Travel_Frequently    0.014702
15          e.Lab_Technician    0.011767
11                 d.Medical    0.010528
9            d.Life_Sciences    0.010256
5                    b.Sales    0.008404
19         e.Sales_Executive    0.008388
3            a.Travel_Rarely    0.007403
18      e.Research_Scientist    0.007231
10               d.Marketing    0.006820
17            e.Mfg_Director    0.006159
12        d.Technical_Degree    0.005138
34         PerformanceRating    0.003841
13          e.Healthcare_Rep    0.003811
20               e.Sales_Rep    0.003077
8          d.Human_Resources    0.002341
14         e.Human_Resources    0.002180
16                 e.Manager    0.001941
4                       b.HR    0.001897